<script context="module" lang="ts">
  import type { Load } from "./__types/index";

  export const load: Load = async ({ fetch }) => {
    let response = await fetch("/api/lists");
    const lists = await response.json();

    const currentList = lists[0];

    response = await fetch("/api/submissions/" + currentList.id);
    const submissions = await response.json();

    return {
      props: {
        list: currentList,
        submissions,
      },
    };
  };
</script>

<script lang="ts">
  import { onMount } from "svelte";
  import { writable } from "svelte/store";
  import {
    collection,
    doc,
    getDoc,
    onSnapshot,
    query,
  } from "firebase/firestore";

  import { page } from "$app/stores";

  import { db } from "$lib/firebase/db";

  import type { List } from "$lib/model/list";
  import type { Submission } from "$lib/model/submission";
  import type { Submitter } from "$lib/model/submitter";

  export let list: List;
  export let submissions: Submission[];

  const currentSubmission = writable<Submission>({ name: "", what: "", persons: "" });
  const currentSubmissions = writable(submissions);
  const loadingSubmitter = writable(true);
  const currentSubmitter = writable<Submitter>();
  const editMode = writable(false);

  // Load submitter from hash
  onMount(async () => {
    const submitterId = $page.url.hash.substring(1);

    if (!submitterId) {
      $loadingSubmitter = false;
      return;
    }

    const docRef = doc(db, `lists/${list.id}/submitters`, submitterId);
    const docSnap = await getDoc(docRef);

    if (docSnap.exists()) {
      $currentSubmitter = { id: docSnap.id, ...docSnap.data() } as Submitter;
      $currentSubmission = $currentSubmissions.find(
        (s) => s.id === $currentSubmitter.submissionId
      ) as Submission;
    } else {
      history.pushState(
        "",
        document.title,
        window.location.pathname + window.location.search
      );
    }
    $loadingSubmitter = false;
  });

  // Handle adding submission
  async function handleSubmission() {
    if ($currentSubmission.id) {
      const response = await fetch("/api/submissions/" + list.id, {
        method: "put",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify($currentSubmission),
      });
      $editMode = false;
    } else {
      const response = await fetch("/api/submissions/" + list.id, {
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify($currentSubmission),
      });
      const { submitter, submission } = await response.json();
      $currentSubmitter = submitter;
      $currentSubmission = submission;
      window.location.hash = `#${submitter.id}`;
    }
  }

  // Realtime Subscription
  onMount(() => {
    const q = query(collection(db, `lists/${list.id}/submissions`));
    onSnapshot(q, (querySnapshot) => {
      const submissionList = querySnapshot.docs.map(
        (doc) => ({ id: doc.id, ...doc.data() } as Submission)
      );
      $currentSubmissions = submissionList;
    });
  });
</script>

<div class="min-h-full">
  <header class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <h1 class="text-2xl font-semibold">{list.title}</h1>
      </div>
    </div>
  </header>
  <div class="py-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <header>
      <h1 class="text-xl sm:text-2xl font-semibold leading-tight text-gray-900">
        Wer kommt, wer bringt was mit?
      </h1>
    </header>
    <main>
      <div
        class:hidden={$loadingSubmitter}
        class="bg-white opacity-100 shadow mt-8 px-4 py-5 sm:rounded-lg sm:p-6 transition"
      >
        {#if $currentSubmitter && !$editMode}
          <h3 class="text-lg font-medium leading-6 text-gray-900">
            Unser Beitrag:
          </h3>
          <p class="text-lg font-medium leading-6 ml-4 mt-2 text-gray-700">
            {$currentSubmission.name}
          </p>
          <p class="text-lg font-medium leading-6 ml-4 mt-2 text-gray-700">
            Bringt mit: {$currentSubmission.what}
          </p>
          {#if $currentSubmission.persons.trim}
            <p class="text-lg font-medium leading-6 ml-4 mt-2 text-gray-700">
              Anzahl Personen: {$currentSubmission.persons}
            </p>
          {/if}
          <div class="flex justify-end mt-6">
            <button
              on:click={() => ($editMode = true)}
              type="button"
              class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >Bearbeiten</button
            >
          </div>
          <div class="mt-6 p-4 border-t border-gray-500">
            Ihr könnt Eure Angaben jederzeit ändern. Fügt dazu jetzt diese Seite zu Euren Lesezeichen
            hinzu oder speichert/teilt folgenden Link:
            <a class="block truncate mt-2 text-indigo-500" href={'https://listr.vercel.app/#' + $currentSubmitter.id}>{'https://listr.vercel.app/#' + $currentSubmitter.id}</a>
          </div>
        {:else}
          <form on:submit|preventDefault={handleSubmission}>
            <div class="md:grid md:grid-cols-3 md:gap-6">
              <div class="md:col-span-1">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                  Unser Beitrag
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  Eure Angaben können auch wieder geändert werden.
                </p>
              </div>
              <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6">
                    <label
                      for="name"
                      class="block text-sm font-medium text-gray-700"
                      >Name des Kindes</label
                    >
                    <input
                      bind:value={$currentSubmission.name}
                      required
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Lola Rennt"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6">
                    <label
                      for="what"
                      class="block text-sm font-medium text-gray-700"
                      >Was wir mitbringen</label
                    >
                    <input
                      bind:value={$currentSubmission.what}
                      required
                      type="text"
                      name="what"
                      id="what"
                      placeholder="Kartoffelsalat und etwas Apfelsaft"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6">
                    <label
                      for="persons"
                      class="block text-sm font-medium text-gray-700"
                      >Wieviele wir sind</label
                    >
                    <input
                      bind:value={$currentSubmission.persons}
                      type="text"
                      name="persons"
                      id="persons"
                      placeholder="3 oder 4"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-end mt-6">
              <button
                type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >Eintragen</button
              >
            </div>
          </form>
        {/if}
      </div>

      <div class="mt-8 flex flex-col">
        <div class="inline-block min-w-full py-2 align-middle">
          <div class="shadow-sm ring-1 ring-black ring-opacity-5">
            <table class="min-w-full border-separate" style="border-spacing: 0">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8"
                    ><span class="hidden sm:inline">Name des Kindes</span><span
                      class="sm:hidden">Beiträge</span
                    ></th
                  >
                  <th
                    scope="col"
                    class="sticky top-0 z-10 hidden border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell"
                    >Wir bringen mit</th
                  >
                  <th
                    scope="col"
                    class="sticky top-0 z-10 hidden border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell"
                    >Anzahl Personen</th
                  >
                </tr>
              </thead>
              <tbody class="bg-white">
                {#each $currentSubmissions.sort( (a, b) => a.name.localeCompare(b.name) ) as submission (submission.id)}
                  <tr>
                    <td
                      class="border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8"
                    >
                      {submission.name}
                      <dl class="sm:hidden">
                        <dd class="mt-1 ml-4 text-gray-700">
                          Bringt mit: {submission.what}
                        </dd>
                        {#if submission.persons.trim()}
                          <dd class="mt-1 ml-4 text-gray-500">
                            Anzahl Personen: {submission.persons}
                          </dd>
                        {/if}
                      </dl>
                    </td>
                    <td
                      class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 hidden sm:table-cell"
                      >{submission.what}</td
                    >
                    <td
                      class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 hidden sm:table-cell"
                      >{submission.persons}</td
                    >
                  </tr>
                {/each}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
